<!DOCTYPE html>
<html lang=“ja”>
  <head>
    <meta charset=“UFT-8”>
    <title>about</title>
    <link rel="stylesheet" type="text/css" href="../stylesheet/about.css">
    <link rel="stylesheet" type="text/css" href="../stylesheet/header.css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
  </head>
  <body>

    <div class= "header">
      <div class="me">
        <h1>KOGAMI KANSEI</h1>
        <h2>engineer & photographer<h2>
      </div>

      <div class ="menu">
        <hr>
        <ul>
          <li><a href="about.html">about</a></li>
          <li><a href="products.html">products</a></li>
          <li><a href="index.html">pics</a></li>
          <li><a href="contact.html">contact</a></li>
        </ul>
        <hr>
      </div>
    </div>

      <div class = "about">
        <img src="../pics/me01.jpg">
        <table>
          <tr>
             <td>Name:</td>
             <td>Kogami Kansei</td>
           </tr>
           <tr>
             <td>Place of Birth:　　</td>
             <td>Iizuka Fukoka Japan</td>
           </tr>
           <tr>
             <td>University:</td>
             <td>Kyushu Institute of Technology</td>
           </tr>
           <tr>
             <td>Department:</td>
             <td>Bioscience and Bioinformatics</td>
           </tr>
           <tr>
             <td>Laboratory:</td>
             <td>Yada-lab</td>
           </tr>
           <tr>
             <td>Grade:</td>
             <td>Fourth-year Student</td>
           </tr>
           <tr>
             <td>Club:</td>
             <td>Camera-club, P&D, Stairs</td>
           </tr>
           <tr>
             <td>Like:</td>
             <td>Oyako-don</td>
           </tr>



         </table>
      </div>



  </body>
</html>
