<!DOCTYPE html>
<html lang=“ja”>
  <head>
    <meta charset=“UFT-8”>
    <title>contact</title>
    <link rel="stylesheet" type="text/css" href="../stylesheet/contact.css">
    <link rel="stylesheet" type="text/css" href="../stylesheet/header.css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
  </head>
  <body>

    <div class= "header">
      <div class="me">
        <h1>KOGAMI KANSEI</h1>
        <h2>engineer & photographer<h2>
      </div>

      <div class ="menu">
        <hr>
        <ul>
          <li><a href="about.html">about</a></li>
          <li><a href="products.html">products</a></li>
          <li><a href="pics.html">pics</a></li>
          <li><a href="contact.html">contact</a></li>
        </ul>
        <hr>
      </div>
    </div>

    <div class = "contact">
    <ul>
      <li>facebook: <a href="https://www.facebook.com/kansei7221">kansei7221</a></li>
      <li>Instgram: <a href="https://www.instagram.com/knskgm/">@knskgm</a></li>
      <li>Twitter: <a href="https://twitter.com/kansei1227">@kansei1227</a></li>
      <li>GitHub: <a href="https://github.com/Kansei">Kansei</a></li>
    </ul>
  </div>

  </body>
</html>
