<!DOCTYPE html>
<html lang=“ja”>
  <head>
    <meta charset=“UFT-8”>
    <title>pics</title>
    <link rel="stylesheet" type="text/css" href="../stylesheet/pics.css">
    <link rel="stylesheet" type="text/css" href="../stylesheet/header.css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">

  </head>
  <body>

    <div class= "header">
      <div class="me">
        <h1>KOGAMI KANSEI</h1>
        <h2>engineer & photographer<h2>
      </div>

      <div class ="menu">
        <hr>
        <ul>
          <li><a href="about.html">about</a></li>
          <li><a href="products.html">products</a></li>
          <li><a href="pics.html">pics</a></li>
          <li><a href="contact.html">contact</a></li>
        </ul>
        <hr>
      </div>
    </div>

    <div class="pics" >
     <table>
       <tr>
          <td><img src="../malaysia/01.jpg"></td>
          <td><img src="../malaysia/05.jpg"></td>
          <td><img src="../malaysia/09.jpg"></td>
        </tr>
        <tr>
          <td><img src="../malaysia/10.jpg"></td>
          <td><img src="../malaysia/02.jpg"></td>
          <td><img src="../malaysia/06.jpg"></td>
        </tr>
        <tr>
          <td><img src="../malaysia/07.jpg"></td>
          <td><img src="../malaysia/11.jpg"></td>
          <td><img src="../malaysia/03.jpg"></td>
        </tr>
        <tr>
          <td><img src="../malaysia/04.jpg"></td>
          <td><img src="../malaysia/08.jpg"></td>
          <td><img src="../malaysia/12.jpg"></td>
        </tr>
      </table>
    </div>


  </body>
</html>
